@font-face {
  font-family: 'pixelFont-7';
  src: url('/assets/ui/fonts/pixelFont-7-8x14-sproutLands.ttf') format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
